@import "tailwindcss";

@theme {
  --breakpoint-midlg: 1200px;
  --breakpoint-2midlg: 1024px;
  --breakpoint-2md: 980px;
  --breakpoint-2sm: 630px;
  --breakpoint-small: 480px;
  --breakpoint-2small: 320px;
}

.food {
  background-image: url(/public/food.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.animal {
  background-image: url(/public/animal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.car {
  background-image: url(/public/car.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sport {
  background-image: url(/public/sport.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.music {
  background-image: url(/public/music.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.technology {
  background-image: url(/public/technology.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.abstract {
  background-image: url(/public/abstract.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
